<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Sirirat Saemak</p>
            </div>
        </div>
    </div>
</footer>