<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="#/">Home</a></li>
                <li><a class="active" ng-bind="hotel.hotel_name"></a></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 hotel-info">
            <div class="hotel-image">
                <img src="http://placehold.it/800x500" alt="">
            </div>
            <h3 ng-bind="hotel.hotel_name"></h3>
            <uib-rating ng-model="hotel.hotel_rate" max="5" readonly="true" aria-labelledby="default-rating"></uib-rating>
            <p ng-bind="hotel.hotel_descrpition"></p>
            <h3>Room</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="width-100">Image</th>
                            <th>Type</th>
                            <th class="width-100 text-center">Max</th>
                            <th class="width-150 text-center">Normal</th>
                            <th class="width-150 text-center">High Season</th>
                            <th class="width-100 text-center">Booking</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="room in room_list">
                            <td><img src="http://placehold.it/80x80"></td>
                            <td ng-bind="room.room_name"></td>
                            <td class="text-center" ng-bind="room.room_person"></td>
                            <td class="text-center">{{room.room_nomal_price | number}} Baht</td>
                            <td class="text-center">{{room.room_high_season_price | number}} Baht</td>
                            <td class="text-center">
                                <a href="#/booking/{{room.room_id}}" class="btn btn-primary">BOOK NOW</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>            
        </div>    
        <div class="col-md-4">
            <div class="col-md-12 hero-feature" ng-repeat="hotel in hotel_list">
                <div class="thumbnail">
                    <a href="#/hotel/{{hotel.hotel_id}}">
                    <img src="http://placehold.it/800x500" alt="">
                    </a>
                    <div class="caption">
                        <h3 ng-bind="hotel.hotel_name"></h3>
                        <uib-rating ng-model="hotel.hotel_rate" max="5" readonly="true" aria-labelledby="default-rating"></uib-rating>
                        <p ng-bind="hotel.hotel_descrpition"></p>
                        <a href="#/hotel/{{hotel.hotel_id}}" class="btn btn-info">More Info</a>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

<script src="assets/js/function.js"></script> 