<div class="container">


    <div class="row">
        <div class="col-lg-12">
            <h3>Our Hotels</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 hero-feature" ng-repeat="hotel in hotel_list">
            <div class="thumbnail">
                <a href="#/hotel/{{hotel.hotel_id}}">
                <img src="http://placehold.it/800x500" alt="">
                </a>
                <div class="caption">
                    <h3 ng-bind="hotel.hotel_name"></h3>
                    <uib-rating ng-model="hotel.hotel_rate" max="5" readonly="true" aria-labelledby="default-rating"></uib-rating>
                    <p ng-bind="hotel.hotel_descrpition"></p>
                    <a href="#/hotel/{{hotel.hotel_id}}" class="btn btn-info">More Info</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/function.js"></script> 