.main-menu {
	position: relative;
}

.sticky {
	position: fixed;
}

.thumbnail .caption h3 {
	margin: 0;
}

.thumbnail .caption span {
	color: #FC0;
}

.thumbnail .caption p {
	height: 63px;
	overflow: hidden;
}

.thumbnail .caption .btn-info {
	width: 100%;
}

.breadcrumb {
    padding-left: 0;
    font-weight: bold;
    background: none;	
}

.hotel-info span {
	color: #FC0;
	font-size: 20px;
}
.hotel-image img {
	width: 100%;
}

.width-100 {
	width:100px;
}

.width-150 {
	width:150px;
}

.button-close {
    position: absolute;
    right: 4px;
    top:0;
    cursor: pointer;
    font-size: 16px;
}

#booking-room-form {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid;
    border-radius: 10px;
}

.booking-info {
	margin-bottom: 20px;
}

.total-price {
    border-bottom: double;	
}

footer {
	background-color: #000;
	padding-top: 5px;
	color: #fff;
}