<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h3>Thank you for your payment !</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 booking-info">
        	<h4>Payment Status <a class="btn btn-success" href="#" role="button">Success</a></h4>
        	<hr/>
            <h3>Basic Information</h3>
            <address>
              <strong class="text-uppercase">{{booking.booking_customer_name}}</strong><br>
              <abbr title="Email">Email :</abbr> {{booking.booking_customer_email}}<br>
              <abbr title="Phone">Phone No. :</abbr> {{booking.booking_customer_mobile}}
            </address> 
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="width-100">Image</th>
                            <th>Room Information</th>
                            <th class="width-150 text-center">For peoples</th>
                            <th class="width-150 text-center">Normal</th>
                            <th class="width-150 text-center">High Season</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="http://placehold.it/80x80"></td>
                            <td>{{hotel.hotel_name}} - {{room.room_name}}</td>
                            <td class="text-center" ng-bind="room.room_person"></td>
                            <td class="text-center">{{room.room_nomal_price | number}} Baht</td>
                            <td class="text-center">{{room.room_high_season_price | number}} Baht</td>
                        </tr>
                    </tbody>
                </table>
            </div>                                   
            <h3>Payment Information</h3>
            <p>Booking : {{room.room_name}} Room for {{room.room_person}} persons [ {{booking.booking_start_date | date:'EEEE, d MMM y'}} - {{booking.booking_end_date | date:'EEEE, d MMM y'}} ]</p>            
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th class="width-100 text-right">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in item_list">
                            <td>{{item.booking_item_date | date:'EEEE, d MMM y'}}</td>
                            <td class="text-right">{{item.booking_item_price | number}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-right"><b>Total</b> :</td>
                            <td class="text-right total-price"><b>{{booking.booking_total_price | number}}</b></td>                            
                        </tr>
                    </tfoot>
                </table>
            </div>          
        </div>    
        <div class="col-md-4">
            <div class="col-md-12 hero-feature" ng-repeat="hotel in hotel_list">
                <div class="thumbnail">
                    <a href="#/hotel/{{hotel.hotel_id}}">
                    <img src="http://placehold.it/800x500" alt="">
                    </a>
                    <div class="caption">
                        <h3 ng-bind="hotel.hotel_name"></h3>
                        <uib-rating ng-model="hotel.hotel_rate" max="5" readonly="true" aria-labelledby="default-rating"></uib-rating>
                        <p ng-bind="hotel.hotel_descrpition"></p>
                        <a href="#/hotel/{{hotel.hotel_id}}" class="btn btn-info">More Info</a>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

<script src="assets/js/function.js"></script> 