<div class="container">

    <div class="row">
        <div class="col-lg-12">
			<ol class="breadcrumb">
			  	<li><a href="#/">Home</a></li>
			  	<li><a href="#/hotel/{{hotel.hotel_id}}" ng-bind="hotel.hotel_name"></a></li>
			  	<li class="active">Booking Information</li>
			</ol>
        </div>
    </div>

    <div class="row">
    	<div class="col-lg-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="width-100">Image</th>
                            <th>Room Information</th>
                            <th class="width-150 text-center">For peoples</th>
                            <th class="width-150 text-center">Normal</th>
                            <th class="width-150 text-center">High Season</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="http://placehold.it/80x80"></td>
                            <td>{{hotel.hotel_name}} - {{room.room_name}}</td>
                            <td class="text-center" ng-bind="room.room_person"></td>
                            <td class="text-center">{{room.room_nomal_price | number}} Baht</td>
                            <td class="text-center">{{room.room_high_season_price | number}} Baht</td>
                        </tr>
                    </tbody>
                </table>
            </div> 
        </div>      	
    	<div class="col-lg-12">
			<form id="booking-room-form" ng-submit="submitBooking(booking)">
			  	<div class="form-group">
			    	<label>First name - Last name</label>
			    	<input type="text" class="form-control" ng-model="booking.booking_customer_name" placeholder="First name - Last name">
			  	</div>
			  	<div class="form-group">
			    	<label>Email</label>
			    	<input type="text" class="form-control" ng-model="booking.booking_customer_email" placeholder="Email">
			  	</div>
			  	<div class="form-group">
			    	<label>Phone No.</label>
			    	<input type="text" class="form-control" ng-model="booking.booking_customer_mobile" placeholder="Phone No.">
			  	</div>			  	
    			<div class="row">
        			<div class="col-md-6">
        			<label>Start Date</label>
            		<p class="input-group">
		              		<input ng-click="open_start_date($event)" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="booking.booking_start_date" is-open="start_date.opened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
		              		<span class="input-group-btn">
		                		<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
		              		</span>
	            		</p>
        			</div>
        			<div class="col-md-6">
        			<label>End Date</label>
            			<p class="input-group">
		              		<input ng-click="open_end_date($event)" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="booking.booking_end_date" is-open="end_date.opened" min-date="booking.booking_start_date" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
		              		<span class="input-group-btn">
		                		<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
		              		</span>
	            		</p>
        			</div>
    			</div>	
    			<input type="hidden" ng-model="booking.room_id">		  				  	
			  	<button type="submit" class="btn btn-default">Submit</button>
			</form>  
		</div>  	
    </div>

</div>